body{
    background-color: red;
}

.text{
    display: grid;
    border: 3px solid seashell;
    justify-content: center;
}

.name{
    color: #fafbf4;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 4px;

    font-size: 80px;
    text-shadow: 5px 5px black;
}
