.navigation{
    list-style: none;
    padding-left: 40%;
}

li{
    display: inline;
    margin-left: 25px;
}

li:hover{
    color: #5C8984;
    background-color: #374259;
    border-radius: 20px;
    padding: 5px;
    transition-delay: 90ms;
}

/*      SO THERE YOU HAVE IT!
        A NAVBAR IMPLEMENTATION WITHOUT USING FLOAT FOR THE LIST ELEMENTS! */